html {
	box-sizing: border-box;
	background-color: @darkblue;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: @basefont;
	min-height: 100vh;
	color: @white;
	position: relative;
	background: #111;

	
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0.05;
		width: 100%;
		height: 100%;
		background-image: url(../images/dotted-pattern.png);
		background-size: 113px;
	}
}

p {
	font-family: @textfont;
	font-size: 1.1em;
	line-height: 1.7em;
}

.vertical-aligner {
	display: table;
	width: 100%;

	.aligner-inner {
		display: table-cell;
		vertical-align: middle;
	}

	.aligner-box {
		max-width: 760px;
		padding: 40px 20px;
		margin: 0 auto;
	}
}

.text-center {
	text-align: center;
}

.btn {
	position: relative;
	background-color: rgba(255,255,255,0.05);
	overflow: hidden;
	z-index: 1;
	font-family: @altfont;
	display: inline-block;
	text-indent: 0.2em;
	letter-spacing: 0.2em;
	padding: 1.25rem 2rem;
	border: 1px solid @darkblue;
	text-transform: uppercase;
	transition: 0.2s all ease-in-out;
	transform: skew(-10deg);

	.button-text {
		display: block;
		transform: skew(10deg);
	}

	&.light {
		color: @white;
		border: 1px solid @lightblue;
	}

	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		opacity: 0;
		transition: 0.2s all ease-out;
		left: -100%;
		top: 115%;
		width: 150%;
		height: 300%;
		background-color: @accent;
		.transform(rotate(35deg));
	}

	&:hover {
		color: @white;
		background-color: @accent;
		border: 1px solid @accent;

		&:after {
			top: -50%;
			left: -25%;
			opacity: 1;
		}
	}
}


.country-dropdown {
	color: #000;
}