html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	font-size: 1em;
	-webkit-overflow-scrolling: touch;
}

body {
	font-family: @basefont;
	color: @white;
	position: relative;
	.blue-bg();
}

#main-wrapper {
	height: 100%;
}

p {
	line-height: 1.6em;
}

.hidden {
	height: 0px;
	opacity: 0;
	visibility: hidden;
}

.vertical-aligner {
	display: table;
	width: 100%;

	.aligner-inner {
		display: table-cell;
		vertical-align: middle;
	}

	.aligner-box {
		max-width: 1020px;
		padding: 40px 20px;
		margin: 0 auto;
	}
}

.text-center {
	text-align: center;
}

.btn {
	position: relative;
	background-color: transparent;
	color: @blue;
	overflow: hidden;
	z-index: 1;
	display: inline-block;
	text-indent: 0.2em;
	letter-spacing: 0.2em;
	padding: 1.25rem 2rem;
	text-transform: uppercase;
	transition: 0.2s all ease-in-out;
	border-radius: 50px;
	cursor: pointer;

	&.outlined {
		color: @white;
		background-color: transparent;
		border: 2px solid @white;

		&.blue {
			color: @blue;
			border: 2px solid @blue;

			&:after {
				background-color: @blue;
			}
		}
	}

	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		opacity: 0;
		transition: 0.2s all ease-out;
		left: -100%;
		top: 115%;
		width: 150%;
		height: 300%;
		background-color: @white;
		.transform(rotate(35deg));
	}

	&:hover {
		background-color: transparent;

		&.outlined {
			background-color: @white;
			color: @blue;
		}

		&:after {
			top: -50%;
			left: -25%;
			opacity: 1;
		}
	}
}


.country-dropdown {
	color: #000;
}

svg {
	.no-select();
}

.vis-container {
	width: 900px;
	height: 900px;
	margin: 0 auto;
	position: relative;
}

.vis-container svg {
	position: absolute;
}

.vis-container .tooltip {
	position: absolute;
	left: 200px;
	top: 100px;
	padding: 15px 19px;

	background-color: rgba(114, 193, 78, 0.7);

	h1 {
		text-transform: uppercase;
		font-size: 16px;
		white-space: nowrap;
	}
}