
@font-face {
    font-family: 'gibold';
    src: url('../fonts/gi-bold-webfont.eot');
    src: url('../fonts/gi-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gi-bold-webfont.woff2') format('woff2'),
         url('../fonts/gi-bold-webfont.woff') format('woff'),
         url('../fonts/gi-bold-webfont.ttf') format('truetype'),
         url('../fonts/gi-bold-webfont.svg#gibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'giregular';
    src: url('../fonts/gi-regular-webfont.eot');
    src: url('../fonts/gi-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gi-regular-webfont.woff2') format('woff2'),
         url('../fonts/gi-regular-webfont.woff') format('woff'),
         url('../fonts/gi-regular-webfont.ttf') format('truetype'),
         url('../fonts/gi-regular-webfont.svg#giregular') format('svg');
    font-weight: normal;
    font-style: normal;

}