.intro {
	color: @white;
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: bottom left;
	background-repeat: no-repeat;
	text-align: center;

	.intro-small {
		display: block;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		text-indent: 0.5em;
		font-size: 18px;
		margin-bottom: 25px;
	}

	.intro-title {
		font-size: 7vw;
		line-height: 0.9em;
		letter-spacing: -0.05em;
		font-weight: 900;

		.highlight {
			color: @accent;
		}
	}

	.intro-header {
		margin-bottom: 20px;
	}

	.intro-text {	
		max-width: 500px;
		margin: 0 auto;
		font-size: 15px;
		margin-bottom: 30px;
	}
}