.intro {
	color: @white;
	position: relative;
	height: 100vh;

	.intro-title {
		text-transform: uppercase;
		font-size: 82px;
		line-height: 1em;
		margin: 20px 0;
		font-weight: 900;

		.highlight {
			color: @accent;
		}
	}

	.intro-small {
		display: block;
		font-family: @altfont;
		color: @lightblue;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		text-indent: 0.5em;
		font-size: 18px;
	}

	.intro-header {
		margin-bottom: 30px;
	}

	.intro-text {
		color: @lightblue;
		margin: 0 auto;
		max-width: 520px;
		margin-bottom: 30px;
	}
}