.m-scene .scene_element {
	animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
	animation-duration: 500ms;
	animation-name: fadeIn;
	transition-timing-function: ease-in;
}

.m-scene .scene_element--fadeinleft {
	animation-duration: 500ms;
	animation-name: fadeInLeft;
	transition-timing-function: ease-out;
}

.m-scene .scene_element--fadeinright {
	animation-duration: 500ms;
	animation-name: fadeInRight;
	transition-timing-function: ease-out;
	animation-delay: 200ms;
}

.m-scene .scene_element--fadeinup {
	animation-duration: 500ms;
	animation-name: fadeInLeft;
	transition-timing-function: ease-out;
}

.m-scene.is-exiting .scene_element {
	animation-direction: alternate-reverse;
}

@keyframes fadeIn {
	0% { 
		opacity: 0;
		.transform(translateY(-5%));
	}
	100% { 
		opacity: 1;
		.transform(translateY(0%));
	}
}

@keyframes fadeInLeft {
	0% { 
		opacity: 0;
		.transform(translateX(-100%));
	}
	100% { 
		opacity: 1;
		.transform(translateX(0%));
	}
}

@keyframes fadeInRight {
	0% { 
		opacity: 0;
		.transform(translateX(80%));
	}
	100% { 
		opacity: 1;
		.transform(translateX(0%));
	}
}

@keyframes fadeInUp {
	0% { 
		opacity: 0;
		.transform(translateY(-100%));
	}
	100% { 
		opacity: 1;
		.transform(translateY(0%));
	}
}