@basefont: "Rubik", sans-serif;
@gibold: "gibold", "Futura", "Poppins", sans-serif;
@giregular: "giregular", "Futura", "Poppins", sans-serif;

@black: #000000;
@white: #FFFFFF;
@bordergrey: #EBEEF0;

@darkblue: #2282D1;
@blue: #118DEE;
@skyblue: #88D5FE;
@lightblue: #43B0FF;
@iceblue: #F0F9FF;
@grayblue: #B8D4F0;
@rosso: #D50046;