.country {
	fill: @blue;
	opacity: 0.8;
}

.vis {
	svg {
		display: block;
		margin: 0 auto;
	}
}

.center-text, .center-text-2 {
	font-family: @giregular;
	fill: @blue;

	&.unit {
		font-family: @basefont;
		font-size: 11px;
		text-transform: uppercase;
	}

}

.agreementsLabel {
	font-family: @giregular;
	fill: #39A0F1;
	font-size: 16px;
}

.agreementsPath {
	fill: none;
	stroke: #D4E3F1;
}

#agreementsPath0 {
	fill: #EAF6FE; 
}

#agreementsPath1 {
	fill: #ECF7FE; 
}

#agreementsPath2 {
	fill: #F0F9FE; 
}

#agreementsPath3 {
	fill: #F4FAFF; 
}

#agreementsPath4 {
	fill: #F8FCFF; 
}

#agreementsPath5 {
	fill: #FFFFFF;
}