.vis-wrapper {
	padding: 20px;
}

.vis-meta {

	.vis-title {
		text-transform: uppercase;
		font-weight: 900;
		.font24();
		margin-bottom: 4px;
	}

	.vis-subtitle {
		font-family: @altfont;
		color: @lightblue;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		font-size: 12px;
	}
}

.vis-container {

}

.vis-info-box {

}

.vis-country-meta-stats {

}

.timeline {
	position: relative;
	height: 2rem;
	overflow: hidden;
}

.timeline-inner {
	transition: top 0.25s linear;
	position: absolute;
}

.timeline .year {
	line-height: 2rem;
}