.vis-wrap {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	width:  ~"calc(100% - 300px)";
	background-color: @iceblue;

	.vis-wrap-inner {
		height: 100%;
		width: 100%;
		position: relative;
		//overflow-y: scroll;

		.offset {
			height: 3000px;
		}
	}
}

.vis-title {
	position: absolute;
	top: 25px;
	left: 28px;
	color: @blue;
	font-size: 18px;
}

.timeline-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.timeline {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	right: 300px;
	height: 16px;
	background-color: #B9D5F0;
}

.timeline-current {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 5%;
	transition: 0.3s width;
	background-color: @blue;
}

.timeline-year {
	position: absolute;
	left: 3%;
	bottom: 20px;
	font-family: @gibold;
	font-size: 32px;
	color: @blue;
	transition: 0.3s left;
}

.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100vh;
	background-color: transparent;

	.sidebar-inner {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-y: scroll;

		.sidebar-bottom {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 300px;
			background-color: @white;
		}
	}
}

.timeline-buttons {
	position: absolute;
	top: 42px;
	right: 72px;
	text-align: center;
	.no-select();

	.timeline-small {
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 0.25em;
		color: @blue;
		margin-bottom: 10px;
	}

	.button-prev {
		margin-right: 8px;
	}

	.button-prev, .button-next {
		cursor: pointer;
		border: 2px solid @blue;
		padding: 0.9rem 1.7rem;
		display: inline-block;
		transition: 0.2s all ease-in-out;
		background-color: transparent;
		border-radius: 50px;

		&:hover {
			background-color: darken(@iceblue, 5%);
		}

		img {
			display: block;
		}
	}
}

.numbers-container {

	.number-container {
		.clearfix();
		padding-right: 30px;
		border-bottom: 1px solid #5DB1ED;

		.icon {
			float: left;
			padding-right: 23px;

			img {
				display : block;
			}
		}

		.number {
			float: left;
			font-size: 20px;
			line-height: 1.2em;
			font-family: @gibold;
			letter-spacing: 0.015em;
			line-height: 54px;
		}

		.unit {
			float: right;
			font-size: 12px;
			text-transform: uppercase;
			color: @skyblue;
			line-height: 54px;
		}
	}
}

.compare-title {
	font-size: 18px;
	padding: 20px 28px;
}

.compare-button {
	display: block;
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 1.75px;
	font-size: 12px;
	font-weight: 500;
	background-color: @rosso;
	.transition();

	.arrow-right {
		display: inline-block;
		padding-left: 4px;
		vertical-align: middle;
		height: 9px;
	}

	&:hover {
		text-decoration: none;
		color: @white;
		background-color: #EA034F;
	}
}

.filter-box {
	background-color: @white;
	color: @blue;

	.filter-title {
		padding: 20px 28px;
	}

	.filter-list {
		font-size: 14px;
		list-style-type: none;
		list-style-type: decimal;

		.filter {
			padding: 12px 0;
			border-bottom: 1px solid #EBEEF0;
			counter-reset: listcounter;
			padding-left: 22px;

			input[type=radio] {}
		}
	}
}

